<!DOCTYPE html>
{% load static %}
{% load extra_filters %}
{% load bleach_tags %}


<html>
<head lang="de">
<meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1" />

<!--  prevent favicon -->
<link rel="icon" href="data:,">

<link type="text/css" rel="stylesheet" href="{% static 'mainapp/base.css' %}">

<!--activate mathjax for math in markdown -->

<!-- source1:   https://stackoverflow.com/a/61321145/333403 -->
<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.4/MathJax.js?config=TeX-AMS_HTML-full"></script>

<!-- source2: https://github.com/mitya57/python-markdown-math  -->
<script type="text/x-mathjax-config">
MathJax.Hub.Config({
  config: ["MMLorHTML.js"],
  jax: ["input/TeX", "output/HTML-CSS", "output/NativeMML"],
  extensions: ["MathMenu.js", "MathZoom.js"]
});
</script>



<title>
    {% block title %}
    {% endblock %}
</title>

</head>
<body>
<div class ="page-container">
<div class ="content-wrap">
<!-- Statische Kopfzeile -->
    <header>
        <nav>

            {% include "mainapp/menu.html" %}

        </nav>
    </header>

<!--  statischer Link zum Seitenanfang -->
<p id="toplink"> <a href="#top">zum Textanfang</a> </p>

<div class="main">

{% block content %}
{% endblock %}

</div>
</div>


{% include "mainapp/footer.html" %}

</div>


</body>
</html>
