{% extends "mainapp/base.html" %}
{% load extra_filters %}
{% load bleach_tags %}


{% block title %}
{{title}}
{% endblock %}


{% block content %}

<details open>
    <summary>Voraussetzungen</summary>

<h3>Voraussetzungen</h3>

<ul>
{% for req in requirements%}
<li>
    <a href="{{req.1}}">
        {{req.0}}
    </a>
</li>

{% endfor %}
</ul>

</details>

<br>
<hr>
<br>

{{md_src|render_markdown|bleach}}

<br>
<hr>
<br>

<details open>
    <summary>Übungsaufgaben</summary>

<h3>Übungsaufgaben</h3>

{{exp|render_markdown|bleach}}

</details>

<br>

{% endblock %}