<ul class = "menu">
    <li>
        <a href="/">
            Startseite
        </a>
    </li>
    {% for entry in menu %}
    <li>
        <a href="/overview/{{entry.entry_id}}">
        {{entry.entry_name}}
        </a>

        <ul class="submenu1">
        {% for dict2 in entry.sub_categorys.all %}
        <li>
            <a href="/overview/{{dict2.entry_id}}">
                {{dict2.entry_name}}
            </a>
        </li>

        {% endfor %}
        </ul>
    </li>
    {% endfor %}
</ul>
