.menu {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: row;
	justify-content: center;
}

.menu li {
	margin: 0;
	padding: 0;
	flex-basis: 100%;
	align-items: stretch;
}

.menu a {
	font-size: 20px;
	display: block;
	text-decoration: none;
	text-align: center;
	border: 2px solid blue;
	background-color: #aaaaff;
	color: black;
}



/*     submenu navigation links      */

.menu .submenu1 {
	visibility: hidden;
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
	flex-direction: column;
	align-items: stretch
}

.menu .submenu1 li {
	display: block;
}
/**     Show the submenu on hover, focus     **/

.menu li:hover .submenu1,
.menu li:active .submenu1,

.menu li:focus .submenu1 {
	visibility: visible;
}
.menu li:focus-within .submenu1 {
	visibility: visible;
}

#toplink {
	background: white;
	bottom: 0;
	margin: 0;
	padding: 0.5em 1em;
	position: fixed;
	right: 0;
}

.page-container {
  position: relative;
  min-height: 100vh;
}

.content-wrap {
  padding-bottom: 2.5rem;    /* Footer height */
}

.fusszeile {
  position: absolute;
  bottom: 0;
  width: 100%;
  color: #fff;
  height: 2.5rem;            /* Footer height */
}

.fusszeile li{
	left: 0;
	list-style: none;
	flex-basis: 100%;
	color: #fff;
}

.fusszeile a{
	left: 0;
	bottom: 0;
	display: block;
	text-decoration: none;
	text-align: center;
	background-color: #444;
	color: #ffffff;
}


/* definition of variables */
:root {

    --color-gray-dark-text: #333;


}


html {
    font-family: sans-serif;
}




body {

    color: var(--color-gray-dark-text);
    background-color: #E5E5E7;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
}

body a{
    color: #00f;
    text-decoration: none;
}

body a:hover{
    color: #00f;
    text-decoration: underline;
}

.main {

    color: var(--color-gray-dark-text);
    padding-right: 15px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-top: -10px;
    margin-right: auto;
    margin-left: auto;
    width: 90vw;
    max-width: 80em;
    background-color: #FAFAFA;
}


table th, table td {
    padding: 0.375em 0.8125em;
}

table th {
    font-weight: 600;
}

th {
    display: table-cell;
    vertical-align: inherit;
    font-weight: bold;
    text-align: -internal-center;
}

td {
    display: table-cell;
    vertical-align: inherit;
		border-right:  1px solid black;
		border-left: 1px solid black;
		weight:100%;
		max-width: 100%;
}

thead {
	border: 1px solid black;
}

table {
    border-spacing: 0;
		text-indent: initial;
    border-collapse: collapse;
		border: 1px solid black;
		width: 100%;
		max-width: 100%;
}

img {
	width: 100%;
	max-width: 100%;
}


/* Source: https://www.w3schools.com/howto/howto_css_equal_height.asp */
/*See: "Equal Height and Width using Flexbox"*/

.col-container {
    display: flex;
    width: 100%; /* Set full-width to expand the whole page */
    background-color: white;
		border: 1px solid black;
}

.col {
		padding-left: 10px;
		padding-right: 10px;
		width: 100%;
    display: table-cell; /* Make elements inside the container behave like table cells */
		border-right: 1px solid black;
}
.col-100 {
		padding-left: 10px;
		padding-right: 10px;
    width: 100%; /* fill the remaining width */

}
